html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    margin: 0;
    background-image: url(images/background.png);
    background-repeat:repeat;
  }
  
header, section, footer {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  
header {
    background-color: rgb(255, 255, 255, 0.8);
    text-align: justify;
    font-family: 'Allura';
    font-size: 2em;
    text-align: center;
  }

section.home_3 {
  background: goldenrod;
  text-align: center;
  padding: 0;
  border: black dotted;
}

section.home_3 > h1 {
  font-family: 'Allura';
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: whitesmoke;
}

section.home_3 > div {
  padding: 5px;
}

section.home_3 > div > p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: wheat;
}

section.home_4 {
  display: flex;
}

section.home_4 > img {
  width: 33.3%;
  border: black;
  padding: 1px;
  margin: 5px 0px;
}

footer {
    background-color: rgb(255, 255, 255, 0.8);
    font-family: 'Allura';
    font-size: 2em;
  }

ul {
  margin: 0;
}

li { 
    list-style-type: none;
    display: inline-block;
    padding: 0 40px 0 0;
}

li a {
  color: tan;
  text-decoration: none;
}

li a:hover {
    color: rgb(184, 103, 5);
}

img.logo {
  width: 30%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

img.mainphoto {
  width: 100%;
  margin: 0;
  padding: 0;
}